body {
  font-family: 'Montserrat', sans-serif;
  background: #f0efee;
}
a {
    color: #7A0019;
}

/* HEADER */
#header {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(64, 77, 91);
    height: 100px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(64, 77, 91);
    text-size-adjust: 100%;
    top: 0px;
    width: 100%;
    z-index: 9000;
    column-rule-color: rgb(64, 77, 91);
    perspective-origin: 894px 65px;
    transform-origin: 894px 65px;
}

#logo {
    background-position: 50% 50%;
    box-sizing: border-box;
    color: rgb(255, 204, 51);
    display: block;
    float: left;
    height: 65px;
    text-align: center;
    text-decoration: none solid rgb(255, 204, 51);
    text-indent: 65px;
    text-size-adjust: 100%;
    vertical-align: top;
    white-space: nowrap;
    width: 65px;
    z-index: 0;
    column-rule-color: rgb(255, 204, 51);
    perspective-origin: 32.5px 32.5px;
    transform-origin: 32.5px 32.5px;
    background: rgb(122, 0, 25) url("http://driven.umn.edu/sites/driventodiscover.umn.edu/themes/campaign2016/img/m.svg") no-repeat scroll 50% 50% / 50px padding-box border-box;
    border: 0px none rgb(255, 204, 51);
    font: normal normal bold normal 14px / 65px "Source Sans Pro", helvetica, "helvetica neue", arial, geneva, sans-serif;
    outline: rgb(255, 204, 51) none 0px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}

#title {
    box-sizing: border-box;
    height: 65px;
    text-size-adjust: 100%;
    vertical-align: top;
    width: 100%;
    background: rgb(122, 0, 25) none repeat scroll 0% 0% / auto padding-box border-box;
    padding: 18px 0px 18px 0px;
}

/* MISC STYLE */
.title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  color: #2e2e2e;
}


pre {margin: 45px 0 60px;}
h2 {margin: 60px 0 30px 0;}
p {margin-bottom: 10px;}
.hide-step {display: none;}
.error {color: #c7254e;}
#condition-text {padding-left: 35px;}




/* Payment Method */
.payment-method {
  /* display: flex;
  margin-bottom: 10px;
  justify-content: space-between; */
}

.method {
  /* display: flex;
  flex-direction: column;
  width: 282px;
  height: 82px; */
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  
  justify-content: center;
  align-items: center;
    padding:10px;
}

.select-border {
    background-color: #EBEBEB;
        width: 100%;
}

.radio-input {
  /* margin-top: 20px;*/
}

input[type='radio'] {
  display: inline-block;
}

.box {
    padding: 10px 20px;
    display: none;
    margin-top: 10px;
    border: 1px solid #EBEBEB;
     border-radius: 5px;
}

.one-time {
    /* background: #EBEBEB; */
}

.monthly {
    /* background: #00ff00; */
}

.payroll {
    /* background: #0000ff; */
}

.instructs {
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #FFB71E;
    background-color: #FFDE7A;
    margin-bottom: 10px;
}

.instructs strong {
    display: block;
    font-size: 32px;
    text-align: center;
    margin: 5px 0;
}

.instructs .small {
    font-size: 12px;
    line-height: 15px !important;
}

#sortable {
    list-style: none;
    margin:0;
    padding:0;
}

#sortable li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
}


#sortable li:last-child {
  border-bottom: 0px solid #fff;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.fund {
    
}

.fund-name {
    font-size: 14px;
}

.fund p {
    font-size: 12px;
}

.gifts-hr {
    margin:0;
    padding: 0;
    border-color: #ccc;
}
.gifts-hr-inner {
    margin:0;
    padding: 0 0 10px;
    border-color: #ccc;
}

/* FOOTER */
.footer {
    position: absolute;
    bottom: 0; 
    width: 100%;
	background-color:#3c3c3c;
	padding-top:20px;
    color: #fff;
    text-align: center;
    font-size:14px;
    line-height:22px;
    margin-top:50px;
}

.footer  a {
    color:#fff;
}

.footer  a:hover {
    color:#fec057;
	text-decoration:underline
}

.footer  a:focus {
    color:#fec057;
	text-decoration:underline
}

/* Logo */
.footer-logo a {
    display:block;
    float:left;
    overflow:hidden;
    width:288px;
    height:38px;
    margin:13px 10px 13px 40px;
    white-space:nowrap;
    text-indent:100%;
    background-size:288px 67px;
    background:transparent url("../img/Foundation-gld-wht.png");
    margin-left:20px;
    margin-right:20px;
}

/* Social Media Icons */
.social-icons {margin: 10px 20px; float:right;}
.social-icons ul { margin: 0; padding: 0; list-style-type:none; }
.social-icons ul li { display: inline-block; margin: 0 5px; }
.social-icons ul li:first-child { margin-left: 0; }


/* Copyright */
.copyright {
    padding: 10px 20px;
	border-top: 1px solid #dedede;
    font-size:12px;
    line-height:15px;
}


/* */
@media only screen and (min-width : 600px) and (max-width : 800px) {
    .footer {
    position: relative;
    }
    
    .contact-info, .logo-area {
        width: 49.2%;
    }
    
    .icons-area {
        width: 100%;
    }
    
    .social-icons {margin: 10px; float:none; text-align: center;}
}

/*  */
@media only screen and (max-width: 599px) {

    .footer-logo a {
        float:none;
        margin-left:auto;
        margin-right:auto;
    }
    
    .social-icons {margin: 10px; float:none; text-align: center;}
}
